<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/artical.css">
	</head>
	<body>
		<div class="header">
			<lable class="go-1"><a href="/index"><</a></lable>
		</div>
		<div class="artical-info">
			<p class="title"><%= artical_data[0].title%></p>
			<span>time</span>
			<span>|</span>
			<span>浏览量：num</span>
		</div>
		<div class="author-info">
			<div class="avator">
				<img width="40px" src="<%= author_data[0].avator_src%>" alt="">
			</div>
			<div class="another-info">
				<span class="name"><%= artical_data[0].author%></span>
			</div>
			<div class="attention">
				<div class="attntion-btn">关注</div>
			</div>
		</div>
		<div class="artical-conent">
			<%= artical_data[0].content%>
		</div>
		<div class="footer">
			<span>like</span>
			<span>collect</span>
			<span>share</span>
		</div>
	</body>
</html>
