<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/write.css"/>
		<script type="text/javascript" src="../js/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="../js/write.js"></script>
	</head>
	<body>
		<div class="header">
			<span class="go-1"><a href="/index">返回</a></span>
			<span id="publish">发布</span>
		</div>
		<div class="input-box">
			<input type="text" id="title-input" placeholder="添加标题">
			<textarea rows="" cols=""  id="content-input" placeholder="添加内容(至少10个字)"></textarea>
		</div>
		<div id="tips">aaa</div>
		<div class="tab">
			<a class="home box" href="/index">首页</a>
			<a class="write box" href="/write">写文章</a>
			<a class="me box" href="/me">我的</a>
		</div>
	</body>
</html>
