.tab {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: #f0f0f0;
}
.tab a {
	color: #000000;
}
.tab .box {
	float: left;
	width: 33.3%;
	line-height: 35px;
	text-align: center;
	color: ##222124;;
}
.tab .box:hover {
	background-color: #fff;
}