


.tab {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 35px;
	background-color: #FF2A00;
}
.tab a {
	color: #fff;
}
.tab .box {
	float: left;
	width: 33.3%;
	line-height: 35px;
	text-align: center;
	color: ##222124;;
}
.tab .box:hover {
	background-color: #B4BCCC;
}