.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	background-color: #4DC71F;
}
.header .avator {
	flex: 0 0 70px;
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: none;
	background-color: #ccc;
}
.header .user_info .username {
	display: block;
	width:170px;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	color: #F0F0F0;
}
.header .user_info .fans, .header .user_info .attention {
	display: inline-block;
	width:130px;
	font-size: 11px;
	text-align: center;
	color: #F0F0F0;
}
.content {
}
.content .another_do .do {
	width: 100%;
	height: 52px;
	margin-top: 2px;
	line-height: 58px;
	background-color: #ccc;
	cursor: pointer;
}